*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}


::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  border-radius: 10px;
}
